#root {
  /* max-width: 1280px; */
  margin: 0;
  padding: 0;

  /* place-items: center; */
  height:100%;
  width:100%
}


html {
  height:100%
}

body {
  margin: 0;
  height:100%
}

*{
  box-sizing: border-box;
}
