html,
body {
  height: 100%;
  overflow:hidden;
}

.line {
  /* padding-bottom: 9px; */

  /* margin: 40px 0 20px; */
  border-bottom: 1px solid #eee;
}

.board-card {
  max-width: calc(324px + 12px);
}
