html,
body {
  height: 100%;
}

.form-group input[type='username'] {
  margin-bottom: -1px; /* get rid of line */
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-group input[type='password'] {
  /* margin-bottom: 10px; */
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-group .form-floating:focus-within {
  z-index: 2; /* prevent box-shadow border from being cut off */
}
